<form id="login-form" class="form-horizontal" role="form">


	<div id="sign-wrapper">

		<input type="hidden" name="_csrf" value="NHgwUk52WkkAEEQdCRg/D1UJZyEYISgxTQJqJX48L3hDIF4eORE1Jw==" />

		<div class="sign-body" style="margin-top: 0px;box-shadow: 10px 10px 5px #888888;">

			<!-- Brand -->
			<div class="brand">
				<img src="https://www.whats42nite.com/pro/images/f42nite_pro_logo.png" style="width: 300px; height: 130px" alt="brand logo" />
      </div>
				<!--/ Brand -->
				<!-- Login form -->
				<!--    <form class="sign-in form-horizontal shadow rounded no-overflow"-->
				<form class="sign-in form-horizontal shadow no-overflow" [formGroup]="loginForm"
					(ngSubmit)="onSubmit()">
					<div style="display: block; background-color: #6C6D6B">
						<div class="form-group">
							<div class="input-group input-group-lg rounded no-overflow">
								<span class="input-group-addon" style="padding-left: 10px; padding-right: 0px"><i
                  class="fa fa-envelope"></i></span>
								<input type="text" class="form-control input-sm" placeholder="Enter your email here "
              formControlName="email" value="email">

								<div class="help-block text-danger"
									*ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched && loginForm.controls.email.errors.required">
									Email is required.</div>
								<div class="help-block text-danger"
									*ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched && loginForm.controls.email.errors.pattern">
									Invalid Email</div>


							</div>
						</div><!-- /.form-group -->
						<div class="form-group">
							<div class="input-group input-group-lg rounded no-overflow">
								<span class="input-group-addon" style="padding-left: 10px; padding-right: 0px"><i
                  class="fa fa-lock"></i></span>
								<input type="password" class="form-control input-sm" placeholder="Enter your password here"
                formControlName="password">

								<div class="help-block text-danger"
									*ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched && loginForm.controls.password.errors.required">
									Password is required.</div>

							</div>


						</div><!-- /.form-group -->

						<div class="sign-footer">
							<div class="form-group">
								<div class="row">
									<div class="col-xs-6">
										<div class="ckbox ckbox-theme">
											<input id="rememberme" type="checkbox">
											<label for="rememberme" class="rounded">Remember me</label>
										</div>
									</div>
									<div class="col-xs-6 text-right">
										<a routerLink="/forgot-password" title="forgot password">Forgot Password?</a>
									</div>
								</div>
							</div><!-- /.form-group -->
							<div class="form-group">
								<button type="submit" class="btn main-button btn-lg btn-block no-margin rounded" id="login-btn">Sign In 
              </button>

							</div>
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
							<!-- Content text -->
							<p class="text-muted text-center sign-link"><a routerLink="/register"> Create an account
									?</a></p>
							<!--/ Content text -->

							<!-- /.form-group -->
						</div><!-- /.sign-footer -->
					</div>
				</form><!-- /.form-horizontal -->
			</div><!-- /.sign-body -->
			<!--/ Login form -->

		</div>

		<div style="margin-top: 15px">



		</div>

</form>

<ul *ngIf="alertDanger" id="noty_topRight_layout_container" class="i-am-new"
	style="top: 20px; right: 20px; position: fixed; width: 310px; height: auto; margin: 0px; padding: 0px; list-style-type: none; z-index: 10000000;">
	<li style="overflow: hidden; margin: 4px 0px; border-radius: 2px; border: 1px solid rgb(226, 83, 83); box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px; background-color: rgb(255, 129, 129); color: rgb(255, 255, 255); width: 310px; cursor: pointer; height: 36px;"
		class="animated flipInX">
		<div class="noty_bar noty_type_error" id="noty_770327855636846800">
			<div class="noty_message"
				style="font-size: 13px; line-height: 16px; text-align: left; padding: 10px; width: auto; position: relative; font-weight: bold;">
				<span class="noty_text">Username or Password is Invalid.</span></div>
		</div>
	</li>
</ul>