<section id="page-content">
	<div class="body-content animated fadeIn">

		<div class="row">
			<div class="col-md-12">

				<form class="tab-content form-horizontal" style="background-color: #eeeeef"
					[formGroup]="editUserProfileForm" (ngSubmit)="onSubmit()">


					<div class="row" style="background-color: #eeeeef">

						<!-- User detail start  -->
						<div>
							<div class="col-md-8" style="background-color: #eeeeef">

								<!-- Start input fields - basic form -->
								<div class="panel rounded shadow" style="">

									<div class="panel-heading">
										<div class="pull-left">
											<h3 class="panel-title" style="font-weight:bold;">Account Manager</h3>
										</div>
										<div class="clearfix"></div>
									</div>

									<div class="panel-body no-padding">

										<div class="form-body" style="height: 315px;">

											<div class="form-group">
												<label class="col-sm-2" style="font-weight: bold">Name <span class="asterisk">*</span></label>
												<div class="col-sm-8">
													<input placeholder="Name" formControlName="name"  class="form-control" type="text" >
                                                </div>
												</div>

												<div class="form-group">
													<label class="col-sm-2" style="font-weight: bold">Email <span class="asterisk">*</span></label>
													<div class="col-sm-8">
														<div class="input-group mb-15">
															<span class="input-group-addon bg-primary">@</span>
															<input placeholder="Email" formControlName="email"  class="form-control" type="email" >
                                                    </div>
														</div>
													</div>

													<div class="form-group">
														<label class="col-sm-2" style="font-weight: bold">Contact Number <span class="asterisk">*</span></label>
														<div class="col-sm-8">
															<div class="input-group mb-15">
																<span class="input-group-addon bg-success"><i class="fa fa-phone"></i></span>
																<input placeholder="Contact Number" formControlName="mobile_no"  class="form-control">
                                                    </div>
															</div>
														</div>

														<div class="clearfix"></div>

													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- User detail end  -->

									<!-- User Image start -->
									<div>
										<div class="col-md-4" style="background-color: #eeeeef">

											<!-- Start input fields - basic form -->
											<div class="panel rounded shadow" style="">

												<div class="panel-heading">
													<div class="pull-left">
														<h3 class="panel-title" style="font-weight:bold;">User
															Profile<span class="asterisk">*</span></h3>
													</div>
													<div class="clearfix"></div>
												</div>

												<div class="panel-body no-padding">

													<div class="form-body">

														<div class="form-group">

															<!-- Start dropzone js -->
																									<div class="custom-dropzone" ngx-dropzone [accept]="'image/*'"
														(change)="onSelect($event)" [multiple]="false" [disableClick]= "imageFile.length === 1 ? true : false">
														<ngx-dropzone-label>
															<div>

															</div>
														</ngx-dropzone-label>
														<ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
															*ngFor="let f of imageFile" [file]="f" [removable]="true"
															(removed)="onRemove(f)">
															<ngx-dropzone-label>{{ f.name }} ({{ f.type }})
															</ngx-dropzone-label>
														</ngx-dropzone-image-preview>
													</div>
																<!-- End dropzone js -->
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- User Image end -->

										<div>
											<input type="hidden" id="urldata" name="urldata" value="/prodev/users/update-profile-picture">
											<input type="hidden" id="get_all_url" name="get_all_url" value="/prodev/users/get-profile-picture">
											<input type="hidden" id="get_image" name="get_image" value="">
                              </div>
										</div>

										<div class="form-footer" style="background-color: #eeeeef">

											<div class="pull-left">
												<input type="hidden" id="profileImageExists" name="Users[profileImageExists]" value="true">
												<button class="btn btn-success col-md-12" id="submit" type="submit">Update</button>
											</div>
											<div class="clearfix"></div>
										</div>
				</form>
			</div>
		</div>


	</div>
</section>