
/* ========================================================================
 * TABLE
 * ======================================================================== */
 .table {
    margin-bottom: 0px;
  }
  .table thead tr th {
    background-color: #EEEEEE;
    border-color: #e1e1e1 #e1e1e1 gainsboro;
    vertical-align: middle;
    border-width: 1px 1px 7px;
    border-style: solid;
    font-weight: 400;
    font-size: 13px;
  }
  .table thead tr th:first-child {
    border-left: none;
  }
  .table thead tr th:last-child {
    border-right: none;
  }
  .table thead .sorting:after {
    margin-left: 5px;
    content: "\f0dc";
    font-family: 'FontAwesome';
  }
  .table thead .sorting_asc:after {
    margin-left: 5px;
    content: "\f0dd";
    font-family: 'FontAwesome';
  }
  .table thead .sorting_desc:after {
    margin-left: 5px;
    content: "\f0de";
    font-family: 'FontAwesome';
  }
  .table thead .sorting_asc_disabled:after {
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.3);
    content: "\f0dd";
    font-family: 'FontAwesome';
  }
  .table thead .sorting_desc_disabled:after {
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.3);
    content: "\f0de";
    font-family: 'FontAwesome';
  }
  .table tbody tr.border-danger td {
    background: inherit !important;
  }
  .table tbody tr.border-danger td:first-child {
    position: relative;
    padding-left: 10px;
  }
  .table tbody tr.border-danger td:first-child:before {
    border-left: 3px solid #E9573F;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
  }
  .table tbody tr.border-success td {
    background: inherit !important;
  }
  .table tbody tr.border-success td:first-child {
    position: relative;
    padding-left: 10px;
  }
  .table tbody tr.border-success td:first-child:before {
    border-left: 3px solid #8CC152;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
  }
  .table tbody tr.border-primary td {
    background: inherit !important;
  }
  .table tbody tr.border-primary td:first-child {
    position: relative;
    padding-left: 10px;
  }
  .table tbody tr.border-primary td:first-child:before {
    border-left: 3px solid #00B1E1;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
  }
  .table tbody tr.border-info td {
    background: inherit !important;
  }
  .table tbody tr.border-info td:first-child {
    position: relative;
    padding-left: 10px;
  }
  .table tbody tr.border-info td:first-child:before {
    border-left: 3px solid #63D3E9;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
  }
  .table tbody tr.border-warning td {
    background: inherit !important;
  }
  .table tbody tr.border-warning td:first-child {
    position: relative;
    padding-left: 10px;
  }
  .table tbody tr.border-warning td:first-child:before {
    border-left: 3px solid #F6BB42;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
  }
  .table tbody tr.border-inverse td {
    background: inherit !important;
  }
  .table tbody tr.border-inverse td:first-child {
    position: relative;
    padding-left: 10px;
  }
  .table tbody tr.border-inverse td:first-child:before {
    border-left: 3px solid #2A2A2A;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
  }
  .table tbody tr.border-lilac td {
    background: inherit !important;
  }
  .table tbody tr.border-lilac td:first-child {
    position: relative;
    padding-left: 10px;
  }
  .table tbody tr.border-lilac td:first-child:before {
    border-left: 3px solid #906094;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
  }
  .table tbody tr:first-child td:first-child:before {
    top: 2px !important;
  }
  .table tbody tr td {
    background-color: #FBFBFB;
  }
  .table tbody tr td > a {
    margin-right: 5px;
  }
  .table tbody tr td > a i {
    color: #636E7B;
  }
  .table tbody tr td .btn.btn-success i, .table tbody tr td .btn.btn-danger i, .table tbody tr td .btn.btn-primary i, .table tbody tr td .btn.btn-info i, .table tbody tr td .btn.btn-warning i {
    color: white;
  }
  .table tfoot tr th {
    vertical-align: middle;
    background-color: #EEEEEE;
    border-width: 7px 1px 1px;
    border-style: solid;
    border-color: gainsboro #e1e1e1 #e1e1e1;
    font-weight: 400;
    font-size: 13px;
    border-bottom: none;
    padding-left: 18px;
    padding-right: 18px;
  }
  .table tfoot tr th:first-child {
    border-left: none;
  }
  .table tfoot tr th:last-child {
    border-right: none;
  }
  .table.table-striped tbody tr:nth-child(odd) td, .table.table-striped tbody tr:nth-child(odd) th {
    background-color: #f6f6f6;
  }
  
  table.table-bordered tbody tr td:first-child:before {
    left: -2px !important;
  }
  
  table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background: none;
  }
  
  .table-primary thead tr th {
    background-color: #00B1E1 !important;
    border-color: #00c5fb #00c5fb #0095bd !important;
    color: #fff;
  }
  .table-primary tbody tr td.sorting_1 {
    background: #24d0ff !important;
    color: white;
    border-bottom: 1px solid #48d8ff !important;
  }
  .table-primary tfoot tr th {
    background-color: #00B1E1 !important;
    border-color: #0095bd #00c5fb #00c5fb !important;
    color: #fff;
  }
  .table-primary.table-bordered {
    border: 1px solid #00B1E1;
  }
  .table-primary.table-bordered thead tr th:first-child, .table-primary.table-bordered thead tr th:last-child, .table-primary.table-bordered tfoot tr th:first-child, .table-primary.table-bordered tfoot tr th:last-child {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px !important;
  }
  .table-primary.table-bordered tbody tr td.sorting_1 {
    border-right: 1px solid #48d8ff !important;
  }
  .table-primary table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
  }
  .table-primary table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
  }
  
  .table-success thead tr th {
    background-color: #8CC152 !important;
    border-color: #98c865 #98c865 #7ab03f !important;
    color: #fff;
  }
  .table-success tbody tr td.sorting_1 {
    background: #acd283 !important;
    color: white;
    border-bottom: 1px solid #bedc9d !important;
  }
  .table-success tfoot tr th {
    background-color: #8CC152 !important;
    border-color: #7ab03f #98c865 #98c865 !important;
    color: #fff;
  }
  .table-success.table-bordered {
    border: 1px solid #8CC152;
  }
  .table-success.table-bordered thead tr th:first-child, .table-success.table-bordered thead tr th:last-child, .table-success.table-bordered tfoot tr th:first-child, .table-success.table-bordered tfoot tr th:last-child {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px !important;
  }
  .table-success.table-bordered tbody tr td.sorting_1 {
    border-right: 1px solid #bedc9d !important;
  }
  .table-success table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
  }
  .table-success table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
  }
  
  .table-info thead tr th {
    background-color: #63D3E9 !important;
    border-color: #79d9ec #79d9ec #44cae5 !important;
    color: #fff;
  }
  .table-info tbody tr td.sorting_1 {
    background: #9de3f1 !important;
    color: white;
    border-bottom: 1px solid #bcecf6 !important;
  }
  .table-info tfoot tr th {
    background-color: #63D3E9 !important;
    border-color: #44cae5 #79d9ec #79d9ec !important;
    color: #fff;
  }
  .table-info.table-bordered {
    border: 1px solid #63D3E9;
  }
  .table-info.table-bordered thead tr th:first-child, .table-info.table-bordered thead tr th:last-child, .table-info.table-bordered tfoot tr th:first-child, .table-info.table-bordered tfoot tr th:last-child {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px !important;
  }
  .table-info.table-bordered tbody tr td.sorting_1 {
    border-right: 1px solid #bcecf6 !important;
  }
  .table-info table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
  }
  .table-info table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
  }
  
  .table-warning thead tr th {
    background-color: #F6BB42 !important;
    border-color: #f7c45a #f7c45a #f4af20 !important;
    color: #fff;
  }
  .table-warning tbody tr td.sorting_1 {
    background: #f9d281 !important;
    color: white;
    border-bottom: 1px solid #fbdea3 !important;
  }
  .table-warning tfoot tr th {
    background-color: #F6BB42 !important;
    border-color: #f4af20 #f7c45a #f7c45a !important;
    color: #fff;
  }
  .table-warning.table-bordered {
    border: 1px solid #F6BB42;
  }
  .table-warning.table-bordered thead tr th:first-child, .table-warning.table-bordered thead tr th:last-child, .table-warning.table-bordered tfoot tr th:first-child, .table-warning.table-bordered tfoot tr th:last-child {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px !important;
  }
  .table-warning.table-bordered tbody tr td.sorting_1 {
    border-right: 1px solid #fbdea3 !important;
  }
  .table-warning table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
  }
  .table-warning table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
  }
  
  .table-danger thead tr th {
    background-color: #E9573F !important;
    border-color: #ec6b56 #ec6b56 #e53b1f !important;
    color: #fff;
  }
  .table-danger tbody tr td.sorting_1 {
    background: #f08b7a !important;
    color: white;
    border-bottom: 1px solid #f3a79b !important;
  }
  .table-danger tfoot tr th {
    background-color: #E9573F !important;
    border-color: #e53b1f #ec6b56 #ec6b56 !important;
    color: #fff;
  }
  .table-danger.table-bordered {
    border: 1px solid #E9573F;
  }
  .table-danger.table-bordered thead tr th:first-child, .table-danger.table-bordered thead tr th:last-child, .table-danger.table-bordered tfoot tr th:first-child, .table-danger.table-bordered tfoot tr th:last-child {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px !important;
  }
  .table-danger.table-bordered tbody tr td.sorting_1 {
    border-right: 1px solid #f3a79b !important;
  }
  .table-danger table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
  }
  .table-danger table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
  }
  
  .table-lilac thead tr th {
    background-color: #906094 !important;
    border-color: #9c6da0 #9c6da0 #7b527e !important;
    color: #fff;
  }
  .table-lilac tbody tr td.sorting_1 {
    background: #ad86b0 !important;
    color: white;
    border-bottom: 1px solid #bc9cbe !important;
  }
  .table-lilac tfoot tr th {
    background-color: #906094 !important;
    border-color: #7b527e #9c6da0 #9c6da0 !important;
    color: #fff;
  }
  .table-lilac.table-bordered {
    border: 1px solid #906094;
  }
  .table-lilac.table-bordered thead tr th:first-child, .table-lilac.table-bordered thead tr th:last-child, .table-lilac.table-bordered tfoot tr th:first-child, .table-lilac.table-bordered tfoot tr th:last-child {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px !important;
  }
  .table-lilac.table-bordered tbody tr td.sorting_1 {
    border-right: 1px solid #bc9cbe !important;
  }
  .table-lilac table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
  }
  .table-lilac table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
  }
  
  .table-inverse thead tr th {
    background-color: #2A2A2A !important;
    border-color: #373737 #373737 #181818 !important;
    color: #fff;
  }
  .table-inverse tbody tr td.sorting_1 {
    background: #4b4b4b !important;
    color: white;
    border-bottom: 1px solid #5d5d5d !important;
  }
  .table-inverse tfoot tr th {
    background-color: #2A2A2A !important;
    border-color: #181818 #373737 #373737 !important;
    color: #fff;
  }
  .table-inverse.table-bordered {
    border: 1px solid #2A2A2A;
  }
  .table-inverse.table-bordered thead tr th:first-child, .table-inverse.table-bordered thead tr th:last-child, .table-inverse.table-bordered tfoot tr th:first-child, .table-inverse.table-bordered tfoot tr th:last-child {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px !important;
  }
  .table-inverse.table-bordered tbody tr td.sorting_1 {
    border-right: 1px solid #5d5d5d !important;
  }
  .table-inverse table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
  }
  .table-inverse table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
  }
  
  .table-teal thead tr th {
    background-color: #37BC9B !important;
    border-color: #44c8a8 #44c8a8 #2fa084 !important;
    color: #fff;
  }
  .table-teal tfoot tr th {
    background-color: #37BC9B !important;
    border-color: #2fa084 #31a88b #31a88b !important;
  }
  
  .table-teal tbody tr td.sorting_1 {
    background: #44c8a8 !important;
    color: white;
    border-bottom: 1px solid #44c8a8 !important;
  }
  
  .table-teal.table-bordered {
    border: 1px solid #2fa084;
  }
  .table-teal.table-bordered thead tr th:first-child, .table-teal.table-bordered thead tr th:last-child, .table-teal.table-bordered tfoot tr th:first-child, .table-teal.table-bordered tfoot tr th:last-child {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px !important;
  }
  .table-teal.table-bordered tbody tr td.sorting_1 {
    border-right: 1px solid #44c8a8 !important;
  }
  .table-teal table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
  }
  .table-teal table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
  }
  
  
  .table-bitbucket thead tr th {
    background-color: #3679bc !important;
      border-color: #4384c6 #4384c6 #2d659e !important;
    color: #fff;
  }
  .table-bitbucket tfoot tr th {
    background-color: #3679bc !important;
    border-color: #2d659e #306ba8 #306ba8 !important;
  }
  
  .table-bitbucket tbody tr td.sorting_1 {
    background: #4384c6 !important;
    color: white;
    border-bottom: 1px solid #4384c6 !important;
  }
  
  .table-bitbucket.table-bordered {
    border: 1px solid #2d659e;
  }
  .table-bitbucket.table-bordered thead tr th:first-child, .table-bitbucket.table-bordered thead tr th:last-child, .table-bitbucket.table-bordered tfoot tr th:first-child, .table-bitbucket.table-bordered tfoot tr th:last-child {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px !important;
  }
  .table-bitbucket.table-bordered tbody tr td.sorting_1 {
    border-right: 1px solid #4384c6 !important;
  }
  .table-bitbucket table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
  }
  .table-bitbucket table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
  }
  
  .table-responsive.rounded {
    overflow: auto !important;
  }
  
  .table-middle tr th, .table-middle tr td {
    vertical-align: middle !important;
  }
  
  .table-no-border tr td {
    border-top: none !important;
  }

  .modal .modal-dialog .modal-content {
    border: 1px solid #DDD;
}
.modal-content {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

body, html {
    background-color: #E9EAED;
    font-family: "Open Sans", sans-serif;
    color: #636E7B;
    /* color: #000; */
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    line-height: 21px;
    font-size: 13px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 !important;
}

.btn-success {
    background-color: #8CC152;
    border-color: #8CC152;
   
}
.btn {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}