<section id="page-content">

  <!-- Start page header -->
  <div class="header-content">
    <h2><i class="fa fa-newspaper-o"></i> News Feed</h2>
    <div class="breadcrumb-wrapper hidden-xs">
      <!-- <span class="label">You are here:</span> -->
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-home"></i>
          <a >Dashboard</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a >Charts</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li class="active">Social Report</li>
        <i class="fa fa-angle-right"></i>
        <li class="active">News Feed</li>
      </ol>
    </div><!-- /.breadcrumb-wrapper -->
  </div><!-- /.header-content -->
  <!--/ End page header -->

  <!-- Start body content -->
  <div class="body-content animated fadeIn">

    <div class="row">
      <a routerLink="/posts">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="mini-stat clearfix bg-facebook rounded">
            <span class="mini-stat-icon"><i class="fa fa-pencil-square-o" style="color: #3b5998"></i></span>
            <div class="mini-stat-info">
              <span class="block" id="totalPosts">0</span>
              Posts
            </div>
          </div>
        </div>
      </a>
      <a  (click)="onReachTabClick()">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="post_view_counter">
          <div class="mini-stat clearfix  rounded" id="post_view_counter_class" [ngClass]="reachTab? 'bg-soundcloud-click' : 'bg-soundcloud'">
            <span class="mini-stat-icon"><i class="fa fa-eye" style="color: #ff7700"></i></span>
            <div class="mini-stat-info">
              <span class="block" id="postView">0</span>
              Reach
            </div>
          </div>
        </div>
      </a>
      <a  (click)="onLikeTabClick()">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="post_like_counter">
          <div class="mini-stat clearfix rounded" id="post_like_counter_class"[ngClass]="likeTab? 'bg-bitbucket-click': 'bg-bitbucket'">
            <span class="mini-stat-icon"><i class="fa fa-thumbs-up" style="color: #205081"></i></span>
            <div class="mini-stat-info">
              <span class="block" id="postLike">0</span>
              Likes
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="row">
      <a (click)="onShareTabClick()">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="post_share_counter">
          <div class="mini-stat clearfix rounded" id="post_share_counter_class"[ngClass]="shareTab? 'bg-share-click' : 'bg-share'">
            <span class="mini-stat-icon"><i class="fa fa-share-alt" style="color: #8e44ad"></i></span>
            <div class="mini-stat-info">
              <span class="block" id="postShare">0</span>
              Shares
            </div>
          </div>
        </div>
      </a>
      <a (click)="onCommentTabClick()">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="post_comment_counter">
          <div class="mini-stat clearfix rounded" [ngClass]="commenttab? ' bg-comment-click': ' bg-comment'" id="post_comment_counter_class">
            <span class="mini-stat-icon"><i class="fa fa fa-comment" style="color: #16a085"></i></span>
            <div class="mini-stat-info">
              <span class="block" id="postComment">0</span>
              Comments
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="row">


      <p class="mb-15 pull-left" style="margin-top:5px;text-align: right; display: inline-block;margin-right: 10px">
        Sort by period: </p>
      <div class="col-md-1.5 pull-left">
        <select class="form-control mb-15" name="sort_by_interval" id="sortTimeDropDown" required="">
          <option value="hourly">Hourly</option>
          <option value="daily">Daily</option>
          <option value="weekly">Weekly</option>
          <option value="monthly">Monthly</option>
          <option value="yearly">Yearly</option>
        </select>
      </div>

      <div class="col-md-1.5 pull-right">
        <select class="form-control mb-15" name="sort_by_chart_type" id="sortChartDropDown" required="">
          <option value="reach">Reach</option>
          <option value="likes">Likes</option>
          <option value="comment">Comments</option>
          <option value="shares">Shares</option>
        </select>
      </div>
      <p class="mb-15 pull-right" style="margin-top:5px;text-align: right; display: inline-block;margin-right: 10px">
        Chart type : </p>

      <div class="pull-right" style="margin-right: 10px">
        <p class="mb-15" style="margin-top:5px;text-align: right; display: inline-block;margin-right: 10px"> Choose
          venue : </p>
        <div class="col-md-1.5 pull-right"><select class="form-control mb-15" name="sortVenueDropDown"
            id="sortVenueDropDown">
            <option value="554" selected="">12340 Boggy Creek Rd</option>
            <option value="481">124nsljhwu </option>
            <option value="478">5185 Stratemeyer Dr</option>
            <option value="482">cafe 2020</option>
            <option value="489">Café Tu Tu Tango</option>
            <option value="490">Fun Spot America</option>
            <option value="479">Gordon's Bay United Church New Venue</option>
            <option value="492">Lake Eola</option>
            <option value="432">LITE Club</option>
            <option value="499">Lite Lounge</option>
            <option value="498">LITE Lounge Praxiv Dev</option>
            <option value="451">Mo Lounge</option>
            <option value="459">New Venue Through Backend</option>
            <option value="497">Praxiv Lounge Dev</option>
            <option value="496">test-venue-alex41</option>
            <option value="438">Venue iOS Camera</option>
          </select></div>
      </div>
      <input type="hidden" value="" name="venue_id" id="venue_id">

      <div class="row">


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="panel rounded shadow">
            <div class="panel-heading">
              <div class="pull-left">
                <h3 class="panel-title" style="font-weight:bold;">Graph - <span id="chart_is"
                    style="color: #00aa9e">daily</span>
                </h3>
              </div>
              <div class="pull-right">
                <button class="btn btn-sm" data-action="refresh" data-container="body" data-toggle="tooltip"
                  data-placement="top" data-title="Refresh" data-original-title="" title="">
                  <i class="fa fa-refresh"></i></button>
              </div>
              <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body text-center">
              <!--                             <canvas id="chartjs-line-chart" height="300" width="600" class="chartjs"></canvas>-->
              <canvas id="myChart" height="300" width="1150" class="chartjs"
                style="width: 1150px; height: 300px;"></canvas>

              <div>
                <input type="hidden" id="old_end" name="old_end" value="1588520362">
                <input type="hidden" id="old_start" name="old_start" value="1587970800">
                <input type="hidden" id="timeframe" name="timeframe" value="daily">
              </div>
              <div class="panel rounded shadow panel-lilac" style="margin-bottom: 40px">
                <a class="carousel pull-left btn btn-inverse btn-rotate" id="previous" data-slide=""><i
                    class="fa fa-angle-left">
                    <font size="4" face="Open Sans, sans-serif">&nbsp;Previous</font>
                  </i></a>
                <a class="carousel pull-right btn btn-inverse btn-rotate" id="next" data-slide=""><i class="fa">
                    <font size="4" face="Open Sans, sans-serif">Next&nbsp;&nbsp;</font>
                  </i><i class="fa fa-angle-right"></i></a>
              </div>

            </div><!-- /.panel-body -->
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="panel rounded shadow" id="postdataDIV">
        <div class="panel-heading">
          <div class="pull-left">
            <h3 class="panel-title" style="font-weight:bold;">List</h3>
          </div>
          <div class="pull-right">
            <button class="btn btn-sm" data-action="refresh" data-container="body" data-toggle="tooltip"
              data-placement="top" data-title="Refresh" data-original-title="" title=""><i
                class="fa fa-refresh"></i></button>
            <button type="button" class="btn btn-inverse" id="export">Export</button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div id="table_wrapper" class="dataTables_wrapper form-inline no-footer">
            <div class="row">
              <div class="col-xs-6">
                <div class="dataTables_length" id="table_length"><label><select name="table_length"
                      aria-controls="table" class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> records per page</label></div>
              </div>
              <div class="col-xs-6">
                <div id="table_filter" class="dataTables_filter"><label>Search:<input type="search"
                      class="form-control input-sm" placeholder="" aria-controls="table"></label></div>
              </div>
            </div>
            <table id="table" class="table table-striped table-warning dataTable no-footer" role="grid"
              aria-describedby="table_info">
              <thead>
                <tr role="row">
                  <th data-class="expand" class="text-center expand sorting" tabindex="0" aria-controls="table"
                    rowspan="1" colspan="1" aria-label="User: activate to sort column ascending">User</th>
                  <th data-class="expand" class="text-center expand sorting" tabindex="0" aria-controls="table"
                    rowspan="1" colspan="1" aria-label="Type: activate to sort column ascending">Type</th>
                  <th data-hide="phone" class="text-center sorting" tabindex="0" aria-controls="table" rowspan="1"
                    colspan="1" aria-label="Email: activate to sort column ascending">Email</th>
                  <th data-hide="phone" class="text-center sorting" tabindex="0" aria-controls="table" rowspan="1"
                    colspan="1" aria-label="Gender: activate to sort column ascending">Gender</th>
                  <th data-hide="phone" class="text-center sorting_desc" tabindex="0" aria-controls="table" rowspan="1"
                    colspan="1" aria-sort="descending" aria-label="Age: activate to sort column ascending">Age</th>
                  <th id="created_on" data-hide="phone" class="text-center sorting" tabindex="0" aria-controls="table"
                    rowspan="1" colspan="1" aria-label="Viewed on: activate to sort column ascending">Viewed on</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td valign="top" colspan="6" class="dataTables_empty">No data available in table</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-xs-6">
                <div class="dataTables_info" id="table_info" role="status" aria-live="polite">Showing 0 to 0 of 0
                  entries</div>
              </div>
              <div class="col-xs-6">
                <div class="dataTables_paginate paging_simple_numbers" id="table_paginate">
                  <ul class="pagination">
                    <li class="paginate_button previous disabled" aria-controls="table" tabindex="0"
                      id="table_previous"><a>Previous</a></li>
                    <li class="paginate_button next disabled" aria-controls="table" tabindex="0" id="table_next"><a>Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel rounded shadow" id="commentDiv" style="display: none;">
        <div class="panel-heading">
          <div class="pull-left">
            <h3 class="panel-title" style="font-weight:bold;">List</h3>
          </div>
          <div class="pull-right">
            <button class="btn btn-sm" data-action="refresh" data-container="body" data-toggle="tooltip"
              data-placement="top" data-title="Refresh" data-original-title="" title=""><i
                class="fa fa-refresh"></i></button>
            <button type="button" class="btn btn-inverse" id="export2">Export</button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div id="table2_wrapper" class="dataTables_wrapper form-inline no-footer">
            <div class="row">
              <div class="col-xs-6">
                <div class="dataTables_length" id="table2_length"><label><select name="table2_length"
                      aria-controls="table2" class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> records per page</label></div>
              </div>
              <div class="col-xs-6">
                <div id="table2_filter" class="dataTables_filter"><label>Search:<input type="search"
                      class="form-control input-sm" placeholder="" aria-controls="table2"></label></div>
              </div>
            </div>
            <table id="table2" class="table table-striped table-teal dataTable no-footer table-warning" role="grid"
              aria-describedby="table2_info">
              <thead>
                <tr role="row">
                  <th data-class="expand" class="text-center expand sorting" tabindex="0" aria-controls="table2"
                    rowspan="1" colspan="1" aria-label="User: activate to sort column ascending">User</th>
                  <th data-class="expand" class="text-center expand sorting" tabindex="0" aria-controls="table2"
                    rowspan="1" colspan="1" aria-label="Type: activate to sort column ascending">Type</th>
                  <th data-hide="phone" class="text-center sorting" tabindex="0" aria-controls="table2" rowspan="1"
                    colspan="1" aria-label="Email: activate to sort column ascending">Email</th>
                  <th data-hide="phone" class="text-center sorting" tabindex="0" aria-controls="table2" rowspan="1"
                    colspan="1" aria-label="Content: activate to sort column ascending">Content</th>
                  <th data-hide="phone" class="text-center sorting" tabindex="0" aria-controls="table2" rowspan="1"
                    colspan="1" aria-label="Gender: activate to sort column ascending">Gender</th>
                  <th data-hide="phone" class="text-center sorting_desc" tabindex="0" aria-controls="table2" rowspan="1"
                    colspan="1" aria-sort="descending" aria-label="Age: activate to sort column ascending">Age</th>
                  <th data-hide="phone" class="text-center sorting" tabindex="0" aria-controls="table2" rowspan="1"
                    colspan="1" aria-label="Commented On: activate to sort column ascending">Commented On</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td valign="top" colspan="7" class="dataTables_empty">No data available in table</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-xs-6">
                <div class="dataTables_info" id="table2_info" role="status" aria-live="polite">Showing 0 to 0 of 0
                  entries</div>
              </div>
              <div class="col-xs-6">
                <div class="dataTables_paginate paging_simple_numbers" id="table2_paginate">
                  <ul class="pagination">
                    <li class="paginate_button previous disabled" aria-controls="table2" tabindex="0"
                      id="table2_previous"><a>Previous</a></li>
                    <li class="paginate_button next disabled" aria-controls="table2" tabindex="0" id="table2_next"><a>Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Start footer content -->

  <!-- Start footer content -->
  <footer class="footer-content">
    LITE - Luminous Ideas for Technological Evolutions LLC |
    contact@whats42nite.com | <a href="https://www.whats42nite.com/T&amp;C.html" target="_blank">Terms and
      Conditions</a>
    <!--    https://www.whats42nite.com/tnc.php-->
  </footer><!-- /.footer-content -->
  <!--/ End footer content -->
  <!--/ End footer content -->

</section>
