


<section id="page-content">
  <div class="header-content">
    <h2><i class="fa fa-work"></i>Work In Progress</h2>
    <div class="breadcrumb-wrapper hidden-xs">
      <!-- <span class="label">You are here:</span> -->
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-work"></i>
        
          <i class="fa fa-angle-right"></i>
        </li>
      </ol>
    </div>
    <!-- /.breadcrumb-wrapper -->
  </div>
	<div class="body-content animated fadeIn">


    <div class="jumbotron" style="margin-bottom:10px;">
      <h1 class="text-center">Work In Progress!</h1>
    </div>

    <img src="https://cdn.dribbble.com/users/1791559/screenshots/4465351/wip.gif" class="center">

		<footer class="footer-content">
			LITE - Luminous Ideas for Technological Evolutions LLC | contact@whats42nite.com | <a target="_blank">Terms
				and Conditions</a>
		</footer>
	</div>
</section>